<!DOCTYPE html>
<html lang="en">

<head>
  <title>BootStocks: Build a Mock Portfolio!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="icon" href="../images/Screen Shot 2020-09-20 at 2.48.21 PM.png">
</head>

<body>

  {{{ body }}}

</body>

</html>