body {
    background-color: white;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
nav {
  background-color: #158cba;
}
img {
  padding-left: 10px;
}
h1  {
    font-size: 78px;
    font-style: unset;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: black;  
}
button  {
  background-color: grey; /* Green */
  color: black;
  border: round 2px solid #e7e7e7
}
button :hover {background-color: #e7e7e7;}

h2  {
    font-size: 48px;
    font-style: unset;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: rgba(15, 15, 15, 0.495);
}
h3  {
  text-align: center;
  font-style: unset;
}
h4  {
  text-align: center;
  font-style: unset;
}
.container {
  float: center;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 33.33%;
  padding: 40px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
video {
  margin-bottom: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 131, 223);
  color: white;
  text-align: center;
  padding-top: 5px;
}
