body {
    background-color: rgba(243, 240, 236, 0.829);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 25px;
    padding-right: 25px; 
  }
h1  {
    font-size: 78px;
    font-style: unset;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: rgba(21, 20, 20, 0.208);  
}
img {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
h2  {
    font-size: 48px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: rgba(15, 15, 15, 0.495);
}
h3  {
  text-align: center;
}
h4  {
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 40px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
  border: 5px solid gray;
}
video {
  margin-bottom: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 131, 223);
  color: white;
  text-align: center;
  padding-top: 5px;
}
