body {
    background-color: rgba(243, 240, 236, 0.829);
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 25px;
    padding-right: 25px;  
}

h1  {
    font-size: 78px;
    font-style: unset;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: rgba(21, 20, 20, 0.208);   
}
h2  {
    font-size: 48px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: rgba(15, 15, 15, 0.495);
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
